<br />
<br />
<div class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-sm-2" for="Address">Address Line 1:</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" placeholder="">
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Custom1">Custom field 1 : </label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Address">Address Line 2 :</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" placeholder="">
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Custom2">Custom field 2 : </label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" placeholder="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="FirstName">County :</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" placeholder="">
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Custom3">Custom field 3 :  </label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" placeholder="">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Postcode :</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="Postcode" placeholder="" name="Postcode">
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Custom4">Customer Field 4 :   </label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" name="Custom4">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Custom5"></label>
        <div class="col-md-3">
        </div>
        <label for="custom-5" class="control-label col-md-3 col-sm-3 col-xs-12">Customer Field 5 :  </label>
        <div class="col-md-3 ">
            <input class="form-control col-md-7 col-xs-12" type="checkbox" id="Custom5" name="Custom5" style="width:30px;">
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-sm-2" for="Custom6"></label>
        <div class="col-md-3">
        </div>
        <label for="custom-6" class="control-label col-md-3 col-sm-3 col-xs-12">Customer Field 6 :   </label>
        <div class="col-md-3 ">
            <input class="form-control col-md-7 col-xs-12" type="checkbox" id="Custom6" name="Custom6" style="width:30px;">
        </div>
    </div>

    <br />
    <br />

    <div class="form-group">
        <div class="col-md-6">
        </div>
        <div class="col-md-4">
            <input type="button" id="updateUser" class="btn btn-success pull-right" onclick="UpdateUser()" value="Update User" />
        </div>
    </div>
</div>