<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <script src="/Scripts/angular.js"></script>
    <script src="/a8Dashboard_Angular/A8DashBoardApp.js"></script>
    <script src="/Scripts/jquery-3.1.1.min.js"></script>
    <script src="/Scripts/Spinner/angular-loading-spinner.js"></script>
    <script src="/Scripts/Spinner/angular-spinner.min.js"></script>
    <script src="/Scripts/Spin.js"></script>
    <script src="/Bootstrap 3.3.7/bootstrap.tpls.js"></script>
    <link href="/Bootstrap 3.3.7/bootstrap.min.css" rel="stylesheet">
    <script src="/Scripts/Angular_Notification/angular-ui-notification.js"></script>
    <link href="/Scripts/Angular_Notification/angular-ui-notification.css" rel="stylesheet">
</head>
<body ng-app="A8DashBoardApp">
    <div>
        @RenderBody()
    </div>
</body>
</html>
