@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
<script type="text/javascript">
    @*alert(@TempData["alertMsg"].ToString());*@
    $(document).ready(function () {
        //alert("msg");
        $("#registerLink").hide();
    });
</script>

