@using A8PlatForm.Domains.ViewModels.CPAdmin
@model ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
}
<link href="~/Bootstrap 3.3.7/bootstrap.min.css" rel="stylesheet" />
<h2 style="margin-right: 25%;"><center>Reset Your Password To Login to <img src="~/Images/images.png" style="height:50px;width:50px;" id="imageLogo" /> platform</center></h2>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <br />
                <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(m => m.Email)
                        @Html.HiddenFor(m => m.Code)
                        <div class="form-group">
                            <label for="Email" class="control-label col-md-3 col-sm-3 col-xs-12">Email:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @type = "input", @readonly = "readonly" } })
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="Password" class="control-label col-md-3 col-sm-3 col-xs-12">Password:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="Password" class="form-control col-md-7 col-xs-12" type="password" minlength="6" name="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ConfirmPassword" class="control-label col-md-3 col-sm-3 col-xs-12">Confirm Password:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="ConfirmPassword" class="form-control col-md-7 col-xs-12" type="password" minlength="6" name="ConfirmPassword">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <input type="submit" id="resetPassword" class="btn btn-success" value="ResetPassword" />

                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    var Password = document.getElementById("Password")
  , ConfirmPassword = document.getElementById("ConfirmPassword");

    function validatePassword() {
        if (Password.value != ConfirmPassword.value) {
            ConfirmPassword.setCustomValidity("Passwords Don't Match");
        } else {
            ConfirmPassword.setCustomValidity('');
        }
    }

    Password.onchange = validatePassword;
    ConfirmPassword.onkeyup = validatePassword;
    navigation();
</script>