body {
}

/*.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}*/

.dropdown-submenu {
    position: initial;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}