@{
    Layout = "~/Views/Shared/LocationDashboardPartialView/_Layout.cshtml";
}
<br />
<br />
<br />
<div>
    @Html.Partial("~/Views/Shared/LocationDashboardPartialView/_LocationsMapping.cshtml")
</div>
